{% extends 'mailing/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="col-md-9">

        <div class="d-flex flex-column h-100 justify-content-center align-items-center">
            <h1> Создание получателя рассылки </h1>
            <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <div style="display: flex; justify-content: center; align-items: center;">
                <button type="submit">Создать</button>
            </div>
        </form>

        </div>
    </div>


{% endblock %}