{% extends 'mailing/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="col-md-9">
        <div class="d-flex flex-column h-100 justify-content-center align-items-center">
            <h1 class="text-center title">Изменение записи блога {{ object.title }}</h1>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-danger" type="submit">Изменить</button>
                <a class="btn btn-secondary blog m-2" href={% url 'blog:detail' object.slug %}>отмена</a>

            </form>


        </div>

    </div>



{% endblock %}