{% extends 'mailing/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="col-md-9">
    <div class="d-flex flex-column h-100 justify-content-center align-items-center">
        <h1 class="text-center title">Запрос на востановление пароля</h1>
        <h4 class="text-center title">Ведите адрес почты указаный при регистрации</h4>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-dark mt-2">Отправить запрос на востановление пароля</button>
        </form>
    </div>
</div>
{% endblock %}